@{
    ViewBag.Title = "Catalog";
    var categories = ViewData["categories"] as List<Category>;
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    int prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages ? Model.TotalPages : Model.CurrentPage + 1;
}

@model Web_153504_Padvalnikau.Domain.Models.ListModel<Sneaker>

<!-- Category picking -->
    <div class="container">
    <div class="row">
        <div class="col-2 border-2">
            <ul class="nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-expanded="false">Category
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="product"
                               asp-route-category="">Все</a>
                        </li>
                        @foreach (var item in categories)
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="product"
                                   asp-route-category="@item.NormalizedName">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="content">
                <div class="row">
                    @foreach (var item in Model.Items)
                    {
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                    <img src="@item.Image"/>
                                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)$</p>
                                    <a class="btn btn-outline-secondary"style="color: blue" asp-action="Add" asp-route-id="@item.Id" asp-controller="Cart" asp-route-returnUrl="@returnUrl">Add to cart <span class="fa-solid fa-cart-shopping" style="color: blue"></span></a>
                                </div>
                            </div>
                        </div>
                    }             
                </div>
            </div>
        </div>
    </div>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "active")">
            <a class="page-link"
               asp-controller="product"
               asp-route-pageNo="@prev">
                &laquo;
            </a>
        </li>
        @for (var pageNum = 1; pageNum <= Model.TotalPages; pageNum += 1)
        {
            <li class="page-item @(pageNum == Model.CurrentPage ? "active" : "")">
                <a class="page-link"
                   asp-controller="product"
                   asp-route-pageNo="@pageNum">
                    @pageNum
                </a>
            </li>
        }
        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "active")">
            <a class="page-link"
               asp-controller="product"
               asp-route-pageNo="@next">
                &raquo;
            </a>
        </li>
    </ul>
</nav>
        </div>